name: Deploy Docker Image to ECR

on:
  push:
    branches:
      - main   # or your default branch

env:
  AWS_REGION: us-east-1
  ECR_REGISTRY: 738408430142.dkr.ecr.us-east-1.amazonaws.com
  ECR_REPO_NAME: post-onboarding-docker

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Login to Amazon ECR
      run: |
        aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin $ECR_REGISTRY

    - name: Build Docker Image
      run: docker build -t $ECR_REPO_NAME .

    - name: Tag Docker Image
      run: docker tag $ECR_REPO_NAME:latest $ECR_REGISTRY/$ECR_REPO_NAME:latest

    - name: Push Docker Image to ECR
      run: docker push $ECR_REGISTRY/$ECR_REPO_NAME:latest

